@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  background: linear-gradient(190deg, #0a0f24, lab(24.97% -17.01 2.52));
  /* or a nice background image */
  margin: 0;
   animation: gradientAnimation 8s ease infinite;
}

body {
  color: #fff;
}

.animated-gradient {
  background: linear-gradient(270deg, hsl(324, 100%, 72%), hsl(242, 87%, 71%), hsl(142, 69%, 58%));
  background-size: 600% 600%;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
